.home-title{
    font-family: 'Khula', sans-serif;
    font-size: 80px;
}

.home-center{
  text-align: center;
}

.svg-container {

}

.button-style{
  margin-right: 15px;
}

.img-width{
	width: 60%;
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

.img-width2{
	
}


.btn {
  margin-left: 10px;
  margin-right: 10px;
}
/* Boostrap Buttons Styling */

.btn-default {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: black;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(108, 89, 179, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #FFF;
  background: rgba(108, 88, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}


/* =======================================
 header
========================================*/

.header {
  position: relative;
  width: 100vw;	
  height: 1180px;	
}
.header .center {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	transform:translate(-50%,-50%);
	z-index: 5; 
  padding: 1rem;
}
.header .left {
  position: absolute;
	top: 30%;
	left: 50%;
	width: 90%;
	transform:translate(-50%,-50%);
	z-index: 5; 
  padding: 1rem;
}

.header .left2 {
  position: absolute;
	top: 30%;
	left: 50%;
	width: 90%;
	transform:translate(-50%,-50%);
	z-index: 5; 
  padding: 1rem;
}

.header .right {
  position: absolute;
	top: 50%;
	left: 100%;
	width: 90%;
	transform:translate(-50%,-50%);
	z-index: 5; 
  padding: 1rem;
}
.header .scroll {
  position: absolute;
  top: 95%;
  left: 50%;
  transform:translate(-50%,-50%);
  color: #fff;
  font-size: 1.5rem;
}

@media (min-width: 800px) and (max-width: 1199px)  {

.header {
  position: relative;
  width: 100vw;	
  height: 1300px;	
}

.header .center {
  width: 50%;
}
.header .left {
  position: absolute;
  top: -1%;
  left: 20%;
  width: 25%;
  height: 100%;
  transform:translate(0, 0);
  padding: 1rem;
}

.header .left2 {
  position: absolute;
  top: 50%;
  left: 1%;
  width: 60%;
  height: 100%;
  transform:translate(0, 0);
  padding: 1rem;
}

.header .right {
  position: absolute;
  top: -14%;
  left: 40%;
  width: 60%;
  height: 20%;
  transform:translate(0, 0);
  padding: 1rem;
}
}
/*=== Large devices (desktops, 992px and up) ===*/
@media (min-width: 1200px) {

.header {
  position: relative;
  width: 100vw;	
  height: 1600px;	
}

.header .center {
  width: 50%;
}
.header .left {
  position: absolute;
  top: -1%;
  left: 20%;
  width: 25%;
  height: 50%;
  transform:translate(0, 0);
  padding: 1rem;
}

.header .left2 {
  position: absolute;
  top: 36%;
  left: 1%;
  width: 50%;
  height: 100%;
  transform:translate(0, 0);
  padding: 1rem;
}

.header .right {
  position: absolute;
  top: -14%;
  left: 40%;
  width: 60%;
  height: 20%;
  transform:translate(0, 0);
  padding: 1rem;
}
}




/* =======================================
 header#3
========================================*/
#header3 {
	background: #355c7d;  
  background: 
    linear-gradient(
      to left,
      rgba(214, 109, 117, 0.8), /* #d66d75 */
      rgba(226, 149, 135, 0.7) /* #e29587 */
    ),
    url('./ImagesView/diagonal-bg-Revisi.png') no-repeat center top;
  background-size: contain;  
	z-index: 0; /* bottom layout */
}


/*rgba(256, 256, 256, 1),
rgba(256, 256, 256, 0) */


#header3 .right {
	display: none;
}

/*=== Large devices (desktops, 992px and up) ===*/
@media (min-width: 992px) {

#header3 .right {
  display: block;
}
}


/*.background-diagonal{
	background-image: url("./ImagesView/diagonal-bg-Revisi.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: fixed;
}

.how-section1{
    margin-top:-15%;
    padding: 5%;
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 100%;
}
*/


/*=== header  #2 ===*/
/*#header2 {
	position: relative;
	min-width: 100vw;
	min-height: 95vh;
	background-color: #ddd;
	z-index: 0;
}
#header2 .box {
	position: absolute;
	content: '';
	width: 25%;
	height: 50%;
	top: 15%;
	left: 50%;
	transform:translate(-30%, 0%);
  z-index: 1;
  border: 10px solid #000;
}
#header2 .caption {
	position: absolute;
	top: 20%;
	left: 50%;
	transform:translate(-10%, 0%);
  color: #000;
  font-weight: 600;
  font-size: 6rem; 
  background-color: #ddd;
  z-index: 2;
  padding: 10px;
}
#header2 img {
	position: absolute;
	top: 0%;
	left: 20%;
	height: 100%;
	z-index: 3;
}
#header2 .action {
	position: absolute;
	top: 75%;
	left: 55%;
	transform:translate(-50%,-50%);
  text-align: center;
  z-index: 4;
  padding-right: 25px;
  padding-left: 25px; 
   	
}*/
