.contact-background {
/*  background-image: url("/w3images/photographer.jpg");*/
  background-color: #43B049;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact-background-white {
/*  background-image: url("/w3images/photographer.jpg");*/
  background-color: #FFFFFF;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}